.git
.gitignore
node_modules
vendor
storage
.env
.env.*
!.env.example
.DS_Store
docker-compose.yml
docker-compose.*.yml
README.md
*.log
.idea
.vscode
.github
.phpunit.result.cache
npm-debug.log
yarn-error.log
dist
build
.cache
Dockerfile